# Exploratory Data Analysis (EDA)

In [177]:
import pandas as pd
# Load data
data = pd.read_csv("covid_dataset.csv")
data.head(-10)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49053,British Virgin Islands,United Kingdom,18.420700,-64.640000,2020-07-27,8,1,7,0,Europe
49054,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,2020-07-27,99,2,36,61,Europe
49055,NaN,Botswana,-22.328500,24.684900,2020-07-27,739,2,63,674,Africa
49056,NaN,Burundi,-3.373100,29.918900,2020-07-27,378,1,301,76,Africa
49057,NaN,Sierra Leone,8.460555,-11.779889,2020-07-27,1783,66,1317,400,Africa

## Basic overview

In [179]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB
None

In [180]:
print(data.describe())

                Lat          Long     Confirmed         Deaths     Recovered  \
count  49068.000000  49068.000000  4.906800e+04   49068.000000  4.906800e+04
mean      21.433730     23.528236  1.688490e+04     884.179160  7.915713e+03
std       24.950320     70.442740  1.273002e+05    6313.584411  5.480092e+04
min      -51.796300   -135.000000  0.000000e+00       0.000000  0.000000e+00
25%        7.873054    -15.310100  4.000000e+00       0.000000  0.000000e+00
50%       23.634500     21.745300  1.680000e+02       2.000000  2.900000e+01
75%       41.204380     80.771797  1.518250e+03      30.000000  6.660000e+02
max       71.706900    178.065000  4.290259e+06  148011.000000  1.846641e+06

             Active
count  4.906800e+04
mean   8.085012e+03
std    7.625890e+04
min   -1.400000e+01
25%    0.000000e+00
50%    2.600000e+01
75%    6.060000e+02
max    2.816444e+06

In [181]:
print(data.isnull().sum())

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

## Data Cleaning

### Filling in missing values

In [184]:
print(data['Province/State'].isnull().sum())

34404

In [185]:
# Replacing NaN in the Province/State column with "No Province/State" when it's not specified
data['Province/State'] = data['Province/State'].fillna('No Province/State')
print(data['Province/State'].isnull().sum())  # Should return 0 if all are filled

0

In [186]:
print(data['Province/State'].head(10))

0               No Province/State
1               No Province/State
2               No Province/State
3               No Province/State
4               No Province/State
5               No Province/State
6               No Province/State
7               No Province/State
8    Australian Capital Territory
9                 New South Wales
Name: Province/State, dtype: object

In [187]:
print(data['Province/State'].tail(10))

49058              No Province/State
49059    Falkland Islands (Malvinas)
49060      Saint Pierre and Miquelon
49061              No Province/State
49062              No Province/State
49063              No Province/State
49064              No Province/State
49065              No Province/State
49066              No Province/State
49067              No Province/State
Name: Province/State, dtype: object

### Regularize to 4 decimal places for Lat and Long columns

In [189]:
data['Lat'] = data['Lat'].round(4)
data['Long'] = data['Long'].round(4)
regularized_data = pd.DataFrame({
    'Lat': data['Lat'].head(),
    'Long': data['Long'].head()
})
print(regularized_data)

       Lat     Long
0  33.9391  67.7100
1  41.1533  20.1683
2  28.0339   1.6596
3  42.5063   1.5218
4 -11.2027  17.8739

## Presenting Insights

In [191]:
# Group by WHO Region and aggregate sums
cases_per_region = data.groupby('WHO Region')[['Deaths', 'Recovered', 'Confirmed']].sum()

# Add a Grand Total row
cases_per_region.loc['Grand Total'] = cases_per_region.sum()

# Add a column for Grand Total of each row
cases_per_region['Grand Total'] = cases_per_region.sum(axis=1)

# Reset index for better readability
cases_per_region = cases_per_region.reset_index()
cases_per_region.head()

              WHO Region    Deaths  Recovered  Confirmed  Grand Total
0                 Africa    439978   11193730   21791827     33425535
1               Americas  19359292  157069444  402261194    578689930
2  Eastern Mediterranean   1924029   48050703   74082892    124057624
3                 Europe  19271040  123202075  248879793    391352908
4        South-East Asia   1458134   30030327   55118365     86606826

## Total COVID Cases Per Region

In [193]:
# Group by WHO Region and Province/State and sum the columns
grouped = data.groupby(['WHO Region', 'Province/State']).agg(
    {
        'Deaths': 'sum',
        'Recovered': 'sum',
        'Confirmed': 'sum'
    }
).reset_index()

# Calculating grand totals
grand_totals = grouped[['Deaths', 'Recovered', 'Confirmed']].sum()

# Creating a DataFrame for grand totals
grand_totals_df = pd.DataFrame({
    'WHO Region': ['Grand Total'],
    'Province/State': [''],
    'Deaths': [grand_totals['Deaths']],
    'Recovered': [grand_totals['Recovered']],
    'Confirmed': [grand_totals['Confirmed']]
})

# Append grand totals to the grouped DataFrame
final_table = pd.concat([grouped, grand_totals_df], ignore_index=True)

final_table[['Deaths', 'Recovered', 'Confirmed']] = final_table[
    ['Deaths', 'Recovered', 'Confirmed']
].map(lambda x: f"{x:,.2f}")

final_table

,WHO Region,Province/State,Deaths,Recovered,Confirmed
0,Africa,No Province/State,"439,978.00","11,193,730.00","21,791,827.00"
1,Americas,Alberta,"14,245.00",0.00,"751,219.00"
2,Americas,British Columbia,"16,752.00",0.00,"298,207.00"
3,Americas,Manitoba,746.00,0.00,"35,148.00"
4,Americas,New Brunswick,99.00,0.00,"16,711.00"
...,...,...,...,...,...
80,Western Pacific,Western Australia,"1,005.00","59,833.00","70,669.00"
81,Western Pacific,Xinjiang,474.00,"11,280.00","14,160.00"
82,Western Pacific,Yunnan,319.00,"28,400.00","32,118.00"
83,Western Pacific,Zhejiang,159.00,"198,777.00","220,824.00"
84,Grand Total,,"43,384,903.00","388,408,229.00","828,508,482.00"

## Average COVID Cases Per Region (Province/State Not Reported)

In [195]:
# Filter data for "Not Reported" Province/State
filtered_df = data[data['Province/State'] == "No Province/State"]

# Group by WHO Region and calculate the average for each category
average_grouped = filtered_df.groupby('WHO Region').agg(
    {
        'Deaths': 'mean',
        'Recovered': 'mean',
        'Confirmed': 'mean'
    }
).reset_index()

# Calculate the grand total (average across all regions)
grand_averages = filtered_df[['Deaths', 'Recovered', 'Confirmed']].mean()

# Create a DataFrame for grand totals
grand_averages_df = pd.DataFrame({
    'WHO Region': ['Grand Total'],
    'Deaths': [grand_averages['Deaths']],
    'Recovered': [grand_averages['Recovered']],
    'Confirmed': [grand_averages['Confirmed']]
})

# Format numerical columns to show two decimal places
grand_averages_df[['Deaths', 'Recovered', 'Confirmed']] = grand_averages_df[
    ['Deaths', 'Recovered', 'Confirmed']
].map(lambda x: f"{x:,.2f}")

grand_averages_df

    WHO Region    Deaths  Recovered  Confirmed
0  Grand Total  1,220.34  10,920.68  23,349.61

In [196]:
data.to_csv('cleaned_dataset.csv', index=False)